################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/ReqnRoll_Tests/.vs
/ReqnRoll_Tests/ReqnRoll_Tests/bin/Debug
/ReqnRoll_Tests/ReqnRoll_Tests/obj
