################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/reqnRoll_Tests/obj
/reqnRoll_Tests/bin/Debug/net10.0
